---
import Layout from '../layouts/Layout.astro';
import Dark_Light from "../components/Dark_Light.astro";

---

<Layout title="Document">
    <div class="flex justify-center items-center h-[100dvh]">
        <Dark_Light />
    </div>
</Layout>


